@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;

.slider-container {
    background-color: $accent-blue;
    max-width: 100vw;
    overflow-x: hidden !important;
    border-top: 1px solid $dark-100;
    border-bottom: 1px solid $dark-100;
    height: 7em;
    font-family: "Roboto Mono", monospace;

    .slider {
        display: flex;
        align-items: center;
        height: 7em;
        gap: 3rem;
        position: absolute;
        background-color: transparent;

        // @include mq(small) {
        //     animation: sliderMobile 20s linear infinite;
        // }

        .slider-item {
            display: flex;
            align-items: center;
            gap: 3rem;
            min-width: max-content;
            color: $dark-100;
            text-transform: uppercase;
            font-size: 1.625em;
            font-weight: 600;
            position: relative;

            .dot {
                width: 10px;
                height: 10px;
                border-radius: 100%;
                background-color: $dark-100;

                @include mq(small) {
                    width: 6px;
                    height: 6px;
                }
            }

            @include mq(small) {
                font-size: 1em;
                font-weight: 600;
            }

            // it's for project needs
            .ellipse {
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        @include mq(small) {
            height: 5em;
        }
    }

    @include mq(small) {
        height: 5em;
    }
}
