@use "../abstracts/colors" as *;

.slider-container {
    background-color: $accent-blue;
    overflow: hidden;
    border-top: 1px solid $dark-100;
    border-bottom: 1px solid $dark-100;

    .slider {
        display: flex;
        align-items: center;
        height: 7em;
        gap: 4em;
        animation: slider 30s linear infinite;

        .slider-item {
            display: flex;
            align-items: center;
            gap: 3em;
            min-width: max-content;
            color: $dark-100;
            text-transform: uppercase;
            font-size: 1.625em;
            font-weight: 700;

            .dot {
                width: 10px;
                height: 10px;
                border-radius: 100%;
                background-color: $dark-100;
            }
        }
    }
}

@keyframes slider {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
