$dark-80: hsla(227, 6%, 9%, 1);
$dark-100: hsla(0, 0%, 0%, 1);

$light-100: hsla(0, 0%, 100%, 1);
$light-90: hsla(230, 75%, 98%, 1);

$accent-blue: hsla(186, 96%, 54%, 1);
$accent-yellow: hsla(36, 100%, 79%, 1);
$accent-purple: hsla(266, 60%, 49%, 1);
