@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.about-section {
    display: flex;
    min-height: 38.25em;

    .about-text {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 2em;
        padding: 3em 5em;

        h3 {
            max-width: 40em;
            color: $dark-80;
            font-size: 1.25em;
            font-weight: 200;
            line-height: 155%;

            @include mq(small) {
                display: none;
                width: auto;
            }
        }

        .mobile {
            display: none;
            border: none;
            text-align: left;
            font-size: 0.875rem;
            font-weight: 400;
            list-style: 155%;
            color: $dark-80;

            @include mq(small) {
                display: block;
            }

            &.smaller {
                font-size: 0.75em;
                font-weight: 300;
            }
        }

        @include mq(small) {
            justify-content: start;
            padding: $sections-padding-x-small;
            padding-top: 5em;
        }
    }

    .flex-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-left: 1px solid $dark-80;

        .info {
            flex: 2;
            display: flex;
            flex-direction: column;

            gap: 1em;
            padding: 1.5em;

            h1 {
                font-size: min(12.5em, 22vw);
                font-weight: 500;
                letter-spacing: -16px;
                text-transform: uppercase;
            }

            p {
                padding: 0 1em;
                font-size: 1.25em;
                font-weight: 400;
                line-height: 155%;
                color: $dark-80;
                max-width: 48ch;
            }
        }

        .img {
            flex: 1;
            border-top: 1px solid var(--dark-100, #000);
            background: url("../assets/about-img.png") lightgray no-repeat;
            background-size: cover;
        }

        @include mq(small) {
            display: none;
        }
    }

    .mobile {
        display: none;
        font-size: min(7.25em, 30vw);
        font-weight: 500;
        text-align: center;
        border-bottom: 1px solid $dark-80;

        @include mq(small) {
            display: block;
        }
    }

    img.mobile {
        font-size: 1em;
        height: 14rem;
        border-top: 1px solid $dark-100;
        margin-top: 2em;
    }

    .btn {
        margin-left: $sections-padding-x-small;
        background-color: transparent;
        width: 5em;
        height: 3em;
        display: none;
        align-items: center;
        justify-content: center;
        border-radius: 4em;
        border: 1px solid $dark-100;
        cursor: pointer;

        svg {
            fill: $dark-100;
        }

        @include mq(small) {
            display: flex;
        }
    }

    @include mq(small) {
        flex-direction: column;
        height: auto;
    }
}
