@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .hero-section {
        background: url("../assets/main-bg.jpg") lightgray 50% / cover no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-y: 20%;
        width: 100%;
        height: 35em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2em $sections-padding-x;

        .hero-text {
            font-size: 1.5em;
            line-height: 1.875rem;
        }
    }

    section {
        padding: 3.37em $sections-padding-x;
        color: $light-90;
        height: 29em;
        background-color: $dark-100;
        display: flex;
        flex-direction: column;
        gap: 1em;

        h1 {
            text-transform: uppercase;
            font-size: 4.625rem;
            letter-spacing: -0.32375rem;
            font-weight: 500;
        }

        p {
            color: $light-90;
            font-weight: 400;
        }

        .line {
            width: 100%;
            height: 1px;
            background-color: $light-90;
        }

        .info {
            justify-content: space-between;
            align-items: start;
            .buttons {
                align-items: center;
                p {
                    padding: 1.25em 3.25em 1.3125em 3.25em;
                    border-radius: 4.3125rem;
                    border: 1px solid $light-90;
                }

                button {
                    background-color: transparent;
                    outline: none;
                    border: none;
                }
            }
        }
    }
}
