@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .hero-section {
        background: url("../assets/main-bg.jpg") lightgray 50% / cover no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-y: 20%;
        width: 100%;
        height: 35em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2em $sections-padding-x;

        .hero-text {
            font-size: 1.5em;
            line-height: 1.875rem;

            @include mq(small) {
                font-size: 1em;
                line-height: 1.3125rem;
            }
        }

        @include mq(small) {
            padding: 2em $sections-padding-x-small;
            background-position-x: 10%;
        }
    }

    section {
        padding: 3.37em $sections-padding-x;
        color: $light-90;
        height: 29em;
        background-color: $dark-100;
        display: flex;
        flex-direction: column;
        gap: 1em;

        h1 {
            text-transform: uppercase;
            font-size: 4.625rem;
            letter-spacing: -0.32375rem;
            font-weight: 500;

            @include mq(small) {
                font-size: 2.56em;
                letter-spacing: -0.0179em;
                line-height: 94%;
            }
        }

        p {
            color: $light-90;
            font-weight: 400;
        }

        .line {
            width: 100%;
            height: 1px;
            background-color: $light-90;
        }

        .info {
            display: flex;
            justify-content: space-between;
            align-items: start;
            .buttons {
                display: flex;
                align-items: center;
                p {
                    padding: 1.25em 3.25em 1.3125em 3.25em;
                    border-radius: 4.3125rem;
                    border: 1px solid $light-90;
                }

                @include mq(small) {
                    display: none;
                }
            }
        }

        @include mq(small) {
            padding: $sections-padding-x-small;
            padding-bottom: 4em;
            height: auto;
        }
    }
}
