@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.offer-section {
    margin-top: 15em;

    .header {
        padding: 0 12vw;
        padding-bottom: 2.5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
            font-size: 5em;
            font-weight: 500;
            // letter-spacing: -0em;
            text-transform: uppercase;

            @include mq(small) {
                font-size: 2.25em;
            }
        }

        .contact {
            display: flex;

            p {
                padding: 1.3em 2.8em;
                border-radius: 4.3em;
                border: 1px solid $dark-100;

                text-transform: uppercase;
                transition: all 300ms ease;
                cursor: pointer;

                &:hover {
                    background-color: $dark-100;
                    color: $light-100;
                }

                @include mq(small) {
                    font-size: 0.675rem;
                    padding: 1.6em 3em;
                }
            }

            .arrow-btn {
                background-color: $dark-100;
                border: 1px solid $dark-100;
                cursor: pointer;
                transition: all 300ms ease;
                padding: 1em 1.5em;

                &:hover {
                    background-color: $light-100;

                    svg {
                        path {
                            fill: $dark-100;
                        }
                    }
                }

                svg {
                    path {
                        fill: $light-100;
                    }
                }
            }
        }

        @include mq(small) {
            padding: $sections-padding-x-small;
            // padding: $sections-padding-x-small 5vw;
        }
    }

    .offers {
        .offer {
            padding: 9em 0em;
            padding-left: 12vw;
            display: flex;
            // justify-content: space-between;
            align-items: start;
            border-bottom: 1px solid $dark-100;

            &:first-child {
                border-top: 1px solid $dark-100;
            }

            h3 {
                font-size: min(3em, 5vw);
                font-weight: 400;
                letter-spacing: -0.03em;
                position: relative;
                min-width: 50%;

                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 0.3em;
                    height: 0.3em;
                    bottom: -0.8em;
                    border-radius: 100%;

                    // @include mq(small) {
                    //     bottom: -0.5em;
                    // }
                }

                @include mq(medium) {
                    max-width: 40%;
                }

                @include mq(small) {
                    font-size: 1.25em;
                    max-width: 80%;
                }
            }

            .offer-info {
                display: flex;
                flex-direction: column;
                gap: 1em;
                font-size: min(1.25em, 2.25vw);
                font-weight: 300;
                color: $dark-80;

                @include mq(small) {
                    font-size: 0.75em;
                }
            }

            @include mq(small) {
                padding: 2.25em $sections-padding-x-small;
                flex-direction: column;
                gap: 2em;
            }
        }

        .offer:nth-child(1) {
            h3 {
                &::after {
                    background-color: $accent-yellow;
                }
            }
        }

        .offer:nth-child(2) {
            h3 {
                &::after {
                    background-color: $accent-blue;
                }
            }
        }

        .offer:nth-child(3) {
            h3 {
                &::after {
                    background-color: $accent-purple;
                }
            }
        }
    }

    @include mq(small) {
        margin-top: 3em;
    }
}
