@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.portfolio-section {
    display: flex;
    flex-direction: column;

    .placeholder {
        padding: min(25em, 20vw);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 2em;

        h2 {
            color: $dark-100;
            font-size: 3.75em;
            font-weight: 500;
            letter-spacing: -0.04em;
            line-height: 1.25em;

            &:last-child {
                color: $accent-purple;
            }

            @include mq(small) {
                font-size: 1.75em;
            }
        }

        @include mq(small) {
            padding: 16em $sections-padding-x-small;
        }
    }

    .description {
        background-color: $dark-100;
        padding: 5em 8em;
        p {
            color: $light-90;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 5rem;
            letter-spacing: -0.1375rem;

            @include mq(small) {
                font-size: 3em;
                letter-spacing: -0.0179em;
                line-height: 94%;
            }
        }

        @include mq(small) {
            padding: 4em $sections-padding-x-small;
        }
    }

    .container {
        display: flex;

        div {
            // height: 74em;
            // aspect-ratio: 0.5;
            width: 50%;
            @include mq(small) {
                width: 100%;
                // height: 26em;
                aspect-ratio: 0.8;
            }
        }

        .image {
            // width: 50%;
            overflow: hidden;
            position: relative;
            background: url("../assets/main-bg.jpg"), lightgray no-repeat;
            background-position-x: 80%;
            background-position-y: 70%;
            border-right: 1px solid $dark-100;
            // min-height: 70rem;

            img {
                background-color: transparent;
                position: absolute;
                width: max(60%, 20rem);
                right: 0;
                bottom: -10em;

                box-shadow: -40px 50px 63px -24px rgba(0, 0, 0, 0.8);
                transform-origin: center;

                animation: waving 5s ease-in-out infinite alternate;

                @include mq(medium) {
                    width: max(50%, 16rem);
                }

                @include mq(small) {
                    top: -10%;
                    right: -10%;
                    width: 70%;
                }
            }

            @include mq(small) {
                min-height: auto;
                z-index: -1;
                overflow: visible;
            }
        }

        .product-info {
            background-color: $accent-blue;
            display: flex;
            justify-content: center;
            align-items: center;

            .product-container {
                gap: 2em;
                aspect-ratio: 1/1.6;
                width: 80%;
                height: 75%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border: 1px solid $dark-100;
                border-radius: 100%;

                p {
                    font-size: 2em;
                    font-weight: 500;
                    letter-spacing: -0.04em;
                    color: $dark-100;

                    @include mq(small) {
                        font-size: 0.67em;
                    }
                }

                h3 {
                    font-size: min(6.25em, 7vw);
                    font-weight: 700;
                    letter-spacing: -0.03em;

                    @include mq(small) {
                        font-size: min(4em, 10vw);
                    }
                }

                button {
                    background-color: transparent;
                    outline: none;
                    border: 1px solid $dark-100;
                    border-radius: 3.6em;
                    display: flex;
                    gap: 1.25em;
                    align-items: center;
                    padding: 1em 2.5em;
                    // font-size: 1.25em;
                    font-size: min(1.25em, 1.25vw);
                    font-weight: 400;

                    @include mq(small) {
                        font-size: min(2em, 2vw);
                    }

                    img {
                        @include mq(small) {
                            width: 2em;
                        }
                    }
                }
            }

            @include mq(small) {
                width: 100%;
                z-index: -2;
            }
        }

        @include mq(small) {
            flex-direction: column-reverse;
        }
    }
}

@keyframes waving {
    0% {
        transform: translate(0, 0) rotate(-16deg);
    }

    100% {
        transform: translate(0, 2em) rotate(-16deg);
    }
}
