@use "../styles/variables" as *;
@use "../styles/colors" as *;

.main-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .hero-text {
        font-size: 1.5em;
        line-height: 1.875rem;
    }

    .bg-hero {
        background: url("../assets/main-bg.jpg") lightgray 50% / cover no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        height: 30em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: $main-page-padding;

        .nav {
            color: $dark-100;
            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 4em;
                font-size: 1rem;
            }

            .contact-button {
                background-color: $light-90;
                border-radius: 4em;
                padding: 1.2em 3.38em;
            }
        }
    }

    section {
        padding: $main-page-padding;
        color: $light-90;
        height: 29em;
        background-color: $dark-100;
        display: flex;
        justify-content: space-between;
        align-items: end;

        h1 {
            text-transform: uppercase;
            font-size: 4.625rem;
            letter-spacing: -0.32375rem;
            font-weight: 500;
        }

        .buttons {
        }
    }
}
