:root {
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 600;
    font-size: 15px;
}

body {
    overflow-x: hidden;
}

button {
    background-color: transparent;
    outline: none;
    border: none;
}
